#Data Types

In [37]:
x = 13
print("Value : ",x,"::: Type : ",type(x))

Value :  13 ::: Type :  <class 'int'>

In [2]:
x = "Thirteen"
print("Value : ",x,"::: Type : ",type(x))

Value :  Thirteen ::: Type :  <class 'str'>

In [3]:
x = 1.3
print("Value : ",x,"::: Type : ",type(x))

Value :  1.3 ::: Type :  <class 'float'>

In [5]:
x = '13'
print("Value : ",x,"::: Type : ",type(x))

Value :  13 ::: Type :  <class 'str'>

In [6]:
x = [13,"13","Thirteen"]
print("Value : ",x,"::: Type : ",type(x))

Value :  [13, '13', 'Thirteen'] ::: Type :  <class 'list'>

In [7]:
x = (13,"13","Thirteen")
print("Value : ",x,"::: Type : ",type(x))

Value :  (13, '13', 'Thirteen') ::: Type :  <class 'tuple'>

In [8]:
x = {13,"13","Thirteen"}
print("Value : ",x,"::: Type : ",type(x))

Value :  {'13', 13, 'Thirteen'} ::: Type :  <class 'set'>

In [9]:
x = {"Thirteen":"13","13":"Thirteen"}
print("Value : ",x,"::: Type : ",type(x))

Value :  {'Thirteen': '13', '13': 'Thirteen'} ::: Type :  <class 'dict'>

In [10]:
x = range(13)
print("Value : ",x,"::: Type : ",type(x))

Value :  range(0, 13) ::: Type :  <class 'range'>

In [21]:
x = True
print("Value : ",x,"::: Type : ",type(x))

Value :  True ::: Type :  <class 'bool'>

In [20]:
x = frozenset({13,"13","Thirteen"})
print("Value : ",x,"::: Type : ",type(x))

Value :  frozenset({'13', 13, 'Thirteen'}) ::: Type :  <class 'frozenset'>

In [22]:
x = b"Thirteen"
print("Value : ",x,"::: Type : ",type(x))

Value :  b'Thirteen' ::: Type :  <class 'bytes'>

In [28]:
x = bytes(b'Thirteen')
print("Value : ",x,"::: Type : ",type(x))

Value :  b'Thirteen' ::: Type :  <class 'bytes'>

In [32]:
x = bytearray(13)
print("Value : ",x,"::: Type : ",type(x))

Value :  bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00') ::: Type :  <class 'bytearray'>

In [33]:
x = memoryview(bytes(13))
print("Value : ",x,"::: Type : ",type(x))

Value :  <memory at 0x7fc1d7708ae0> ::: Type :  <class 'memoryview'>

In [2]:
x = str("Rats live on no evil star")
y = int(42)
z = float(33.54)
a = list((2,"be","or","not","to","B"))
print(x)
print(y)
print(z)
print(a)

Rats live on no evil star
42
33.54
[2, 'be', 'or', 'not', 'to', 'B']

In [3]:
a = 534
b = 23.55
c = 3-3j
print(c," :: ",type(c))

(3-3j)  ::  <class 'complex'>

In [4]:
x = 5
y = 5.6
z = 6-3j

a = float(x)
b = int(y)
c = complex(x)
print("a : ",a," :: ",type(a))
print("b : ",b," :: ",type(b))
print("c : ",c," :: ",type(c))

a :  5.0  ::  <class 'float'>
b :  5  ::  <class 'int'>
c :  (5+0j)  ::  <class 'complex'>