# Numbers

In [2]:
#int
x = 5
y = int(7)
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))

x :  5  :: Type of x :  <class 'int'>
y :  7  :: Type of y :  <class 'int'>

In [5]:
x = 13.6
y = float(37.9)
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))

x :  13.6  :: Type of x :  <class 'float'>
y :  37.9  :: Type of y :  <class 'float'>

In [12]:
x = 9j-5
y = complex(-134,753)
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))

x :  (-5+9j)  :: Type of x :  <class 'complex'>
y :  (-134+753j)  :: Type of y :  <class 'complex'>

### Operators

In [1]:
x = 3
y = 8
z = x + y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  3  :: Type of x :  <class 'int'>
y :  8  :: Type of y :  <class 'int'>
z :  11  :: Type of z :  <class 'int'>

In [2]:
x = 3
y = 8
z = x - y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  3  :: Type of x :  <class 'int'>
y :  8  :: Type of y :  <class 'int'>
z :  -5  :: Type of z :  <class 'int'>

In [3]:
x = 3
y = 8
z = x * y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  3  :: Type of x :  <class 'int'>
y :  8  :: Type of y :  <class 'int'>
z :  24  :: Type of z :  <class 'int'>

In [4]:
x = 3
y = 8
z = x / y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  3  :: Type of x :  <class 'int'>
y :  8  :: Type of y :  <class 'int'>
z :  0.375  :: Type of z :  <class 'float'>

In [5]:
x = 13
y = 10
z = x % y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  13  :: Type of x :  <class 'int'>
y :  10  :: Type of y :  <class 'int'>
z :  3  :: Type of z :  <class 'int'>

In [6]:
x = 2
y = 10
z = x ** y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  2  :: Type of x :  <class 'int'>
y :  10  :: Type of y :  <class 'int'>
z :  1024  :: Type of z :  <class 'int'>

In [7]:
x = 17.5
y = 8
z = x - y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  17.5  :: Type of x :  <class 'float'>
y :  8  :: Type of y :  <class 'int'>
z :  9.5  :: Type of z :  <class 'float'>

In [8]:
x = 17.5
y = 8.5
z = x - y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  17.5  :: Type of x :  <class 'float'>
y :  8.5  :: Type of y :  <class 'float'>
z :  9.0  :: Type of z :  <class 'float'>

In [11]:
x = 5+3j
y = 8 + 5j
z = x + y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5+3j)  :: Type of x :  <class 'complex'>
y :  (8+5j)  :: Type of y :  <class 'complex'>
z :  (13+8j)  :: Type of z :  <class 'complex'>

In [12]:
x = 5+3j
y = 8 + 5j
z = x - y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5+3j)  :: Type of x :  <class 'complex'>
y :  (8+5j)  :: Type of y :  <class 'complex'>
z :  (-3-2j)  :: Type of z :  <class 'complex'>

In [13]:
x = 5+3j
y = 8 + 5j
z = x * y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5+3j)  :: Type of x :  <class 'complex'>
y :  (8+5j)  :: Type of y :  <class 'complex'>
z :  (25+49j)  :: Type of z :  <class 'complex'>

In [16]:
x = 5+3j
y = 8 + 5j
z = x / y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5+3j)  :: Type of x :  <class 'complex'>
y :  (8+5j)  :: Type of y :  <class 'complex'>
z :  (0.6179775280898876-0.011235955056179775j)  :: Type of z :  <class 'complex'>

In [20]:
x = 5
y = 8 + 5j
z = x + y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  5  :: Type of x :  <class 'int'>
y :  (8+5j)  :: Type of y :  <class 'complex'>
z :  (13+5j)  :: Type of z :  <class 'complex'>

In [22]:
x = 5-2j
y = 3-5j
z = x**y
print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5-2j)  :: Type of x :  <class 'complex'>
y :  (3-5j)  :: Type of y :  <class 'complex'>
z :  (-23.087103232607348+3.1353795741870605j)  :: Type of z :  <class 'complex'>

In [29]:
x = 5
y = 2.3
z = x**y

print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  5  :: Type of x :  <class 'int'>
y :  2.3  :: Type of y :  <class 'float'>
z :  40.51641491731905  :: Type of z :  <class 'float'>

In [30]:
x = 5.5
y = 2
z = x**y

print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  5.5  :: Type of x :  <class 'float'>
y :  2  :: Type of y :  <class 'int'>
z :  30.25  :: Type of z :  <class 'float'>

In [33]:
x = 5
y = 2+3j
z = x**y

print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  5  :: Type of x :  <class 'int'>
y :  (2+3j)  :: Type of y :  <class 'complex'>
z :  (2.891632197429399-24.832206169303394j)  :: Type of z :  <class 'complex'>

In [34]:
x = 5-3j
y = 2
z = x**y

print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  (5-3j)  :: Type of x :  <class 'complex'>
y :  2  :: Type of y :  <class 'int'>
z :  (16-30j)  :: Type of z :  <class 'complex'>

In [35]:
x = 5
y = 2+4j
z = x**y

print("x : ",x," :: Type of x : ",type(x))
print("y : ",y," :: Type of y : ",type(y))
print("z : ",z," :: Type of z : ",type(z))

x :  5  :: Type of x :  <class 'int'>
y :  (2+4j)  :: Type of y :  <class 'complex'>
z :  (24.70195964872899+3.848790655850832j)  :: Type of z :  <class 'complex'>

# Strings

In [36]:
x = "She sells C - shells on the seashore"
print("x : ",x," :: Type of x : ",type(x))

x :  She sells C - shells on the seashore  :: Type of x :  <class 'str'>

In [37]:
x = '2 B or NOT 2 B, that is the ?'
print("x : ",x," :: Type of x : ",type(x))

x :  2 B or NOT 2 B, that is the ?  :: Type of x :  <class 'str'>

In [38]:
x = """A man should keep his little brain attic stocked 
with all the furniture that he is likely to use, 
and the rest he can put away in the lumber-room 
of his library where he can get it if he wants"""

print("x : ",x," :: Type of x : ",type(x))

x :  A man should keep his little brain attic stocked
with all the furniture that he is likely to use,
and the rest he can put away in the lumber-room
of his library where he can get it if he wants  :: Type of x :  <class 'str'>

In [39]:
x = '''It is my belief, Watson, founded upon my experience, 
that the lowest and vilest alleys in London do not present
a more dreadful record of sin than does the smiling 
and beautiful countryside.'''

print("x : ",x," :: Type of x : ",type(x))

x :  It is my belief, Watson, founded upon my experience,
that the lowest and vilest alleys in London do not present
a more dreadful record of sin than does the smiling
and beautiful countryside.  :: Type of x :  <class 'str'>

In [40]:
x = "Them that ask no question, never told a lie"
print(x[5])

t

In [43]:
x = "Questions"

for i in x:
  print(i)

Q
u
e
s
t
i
o
n
s

In [45]:
x = "This is not really a big string"
print(len(x))

31

In [46]:
star = "Rats live on no evil star"
if "Rats" in star:
  print("Rats in star")

Rats in star

In [48]:
star = "Rats live on no evil star"
if "rats" not in star:
  print("rats not in star")

rats not in star

In [51]:
star = "Rats live on no evil star"
rats = star[5:9]
print(star)
print(rats)

Rats live on no evil star
live

In [52]:
star = "Rats live on no evil star"
rats = star[:9]
print(star)
print(rats)

Rats live on no evil star
Rats live

In [53]:
star = "Rats live on no evil star"
rats = star[9:]
print(star)
print(rats)

Rats live on no evil star
 on no evil star

In [54]:
star = "Rats live on no evil star"
rats = star[-9:-5]
print(star)
print(rats)

Rats live on no evil star
evil

In [55]:
x = "No it is opposition"
y = "She sells seashells on the seashore"
z = x+y
print(z)

No it is oppositionShe sells seashells on the seashore